
@import url('http://fonts.googleapis.com/css?family=Fjalla+One');
@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');


*{
	font-family:verdana;
}

body{
	background:#888;
}

h3,p{
	margin:0px;
}

p{
	line-height:1.4em;
}

a{
	text-decoration:none;
}

.container_main{
	width: 100%;
	/*height: 80%;*/
	/*background-image: url(images/cote_de_boeuf_800.jpg);background-repeat: no-repeat;*/
	color:grey;
	background:#fff;
	border:1px solid #ddd;
	/*padding:12px;*/
	border-radius: 12px;
}
	
.container_main_int{
	margin:12px;
	width: 96%;
}
.phrase_accroche{
	font-size:18px;
}

.phrase_intro{
	font-size:16px;
}
.titres{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight:none;
	font-size:22px;
}
	
.header{
	width: 100%;
	background:url(images/fond_banner.jpg);
	text-align:center;
	border-radius: 12px;
	/*height:100px;*/
	margin-bottom:4px;
}

.nom_etape{
	font-family: 'Fjalla One', sans-serif;
	text-transform:uppercase;
	color:red;
	font-size:28px;
	font-weight:normal;
}

.choix_cuisson{
	clear:both;
	padding:12px;
	background:url(images/fond_ardoise.jpg);
	border-radius: 12px;
	color:grey;
}

.description_cuisson{
	font-size:14px;
}

.description_cuisson a{
	color:#883c3c;
}

.start{
	background:url(images/fond_ardoise_small.jpg);
	border-radius: 10px;
	width:260px;
	padding:12px;
	text-align:center;
}

.start h2{
	color:white;
	font-family: 'Gloria Hallelujah', cursive;	
	cursor:pointer;
}

.clock {
    transform-origin: 0 0;
    transform: scale(.9);
	-ms-transform: scale(.9);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(.9);
    -o-transform-origin: 0 0;
    -o-transform: scale(.9);
    -moz-transform-origin: 0 0;
    -moz-transform: scale(.9);
}
